<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChoraleAnalyzer</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="bootstrap/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- File Upload Assets -->
    <link href="upload_assets/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="bootstrap/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="bootstrap/js/grayscale.js"></script>

    <!-- Upload file assets -->
    <script src="upload_assets/js/fileinput.min.js" type="text/javascript"></script>

    <!-- Vexflow with musicXML support -->
    <script src="vexflow/vexflow.musicxml.min.js"></script>
    <script src="vexflow/vexflow_render.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  Chorale Analyzer
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Chorale Analyzer</h1>
                        <p class="intro-text">A free tool for automatic error detection on uploaded chorales.</p>
                        <input id="input-1" type="file" class="file">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Output Section -->   
    <section id="output" class="container white-content-section text-center" style="padding-top:0px">
        <div class="content" id="viewer" style="padding-bottom: 5pt;"></div>
    </section>

    <br>

    <!-- Errors Section -->
    <section id="errors" class="container text-center" style="padding-top:0px">
        <ul id="error_list"> 
        </ul>
    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Chorale Analyzer</h2>
                <p>Chorale Analyzer is a free, open source tool for performing error analysis on four part chorales.
                    It is intended as a tool to help students and teachers study and teach the chorale style by 
                    automating the tedious process of checking chorales for errors.</p>
                <p>Chorale Analyzer uses the open source <a href="https://github.com/calpeyser/Sebastian">Sebastian</a> 
                    library to perform analysis, and the open source <a href="https://web.mit.edu/music21/">music21</a> 
                    library to read and parse musical data.</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Chorale Analyzer</h2>
                <p>Feedback, suggestions, and error reports are welcome!</p>
                <p><a href="mailto:choraleanalyzer@gmail.com">choraleanalyzer@gmail.com</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Initialize file upload -->
    <script>
    $("#input-1").fileinput(
        {
            'showUpload':false, 
            'previewFileType':'any', 
            'uploadUrl':'/analyze',
    });

    // Render chorale
    $('#input-1').on('fileuploaded', function(event, data, previewId, index) {
        var start = new Date().getTime(); // time execution
        analysis = JSON.parse(data.response["analysis"])
        chorale = analysis["chorale"]
        //alert(JSON.stringify(analysis["chorale"]))

        VexDocument = new Vex.Flow.Document(chorale);
        console.log(VexDocument);
        var content = $(".content")[0];
        if (VexDocument) {
          VexFormatter = VexDocument.getFormatter();
          VexFormatter.draw(content);
        }
        var elapsed = (new Date().getTime() - start)/1000;
        var debouncedResize = null;
        $(window).resize(function() {
        if (! debouncedResize)
          debouncedResize = setTimeout(function() {
            VexFormatter.draw(content);
            debouncedResize = null;
          }, 500);
        });
    });

    // List errors
    $('#input-1').on('fileuploaded', function(event, data, previewId, index) {
        analysis = JSON.parse(data.response["analysis"])
        errors = analysis["errors"]
        var error_list = $('#error_list')
        for (var i = 0; i < error_list.length; i++) {
            error_list.append("<li>" + errors[i] + "</li>")
        }
    });
    </script>

</body>

</html>
